body {
  background-color: lightblue; /* couleur de fond de la page (astuce : c'est celle du menu) */
  margin: 0; /* pas de marge */
}
header {
  background-color: rgb(52, 152, 219); /* couleur bleu pour le fond du titre */
  color: white; /* couleur du titre */
  text-align: center; /* titre centré */
  padding: 1em; /* marge intérieur du titre */
}
