body {
  background-color: lightblue; /* couleur de fond de la page (astuce : c'est celle du menu) */
  margin: 0; /* pas de marge */
}
header {
  background-color: rgb(52, 152, 219); /* couleur bleu pour le fond du titre */
  color: white; /* couleur du titre */
  text-align: center; /* titre centré */
  padding: 1em; /* marge intérieur du titre */
}

header h1 {
  font-size: 3em; /* taille du texte */
  margin: 0;
}

header h2 {
  font-style: italic;
}

nav {
  text-align: center;
  color: white;
  float: left;
  width: 10%;
}

nav ul {
  text-align: left;
}

section {
  margin-left: 10%; /* marge à gauche pour laisser la place au menu */
  padding: 1em; /* marge intérieure */
  background-color: white; /* les articles sur fond blanc */
}

article {
  margin-bottom: 1em;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  border-radius: 20px;
  overflow: auto;
  border: 2px solid blue; /* bordure bleue */
  box-shadow: 5px 5px grey;
}

section img,
section video {
  max-width: 25%;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}
