body {
  background-color: lightblue; /* couleur de fond de la page (astuce : c'est celle du menu) */
  margin: 0; /* pas de marge */
  text-align: justify;
  text-justify: inter-word;
}

header {
  background-color: rgb(52, 152, 219); /* couleur bleu pour le fond du titre */
  color: white; /* couleur du titre */
  text-align: center; /* titre centré */
  padding: 1em; /* marge intérieur du titre */
}

header h1 {
  font-size: 3em; /* taille du texte */
  margin: 0;
}

header h2 {
  font-style: italic;
}

footer {
  background-color: rgb(22, 152, 219); /* couleur bleu pour le fond du titre */
  color: white; /* couleur du titre */
  text-align: center; /* titre centré */
  padding: 0.5em; /* marge intérieur du titre */
}

.wrapper {
  /*border: red solid;*/
  display: grid;
  grid-template-columns: 20% 60%;
  grid-template-rows: auto;
  grid-template-areas: "menu main";
}

.wrapper2 {
  /*border: red solid;*/
  display: grid;
    color: white;
  grid-template-columns: 40% 50% ;
  grid-gap: 1px;
  grid-template-areas: 
  grid-template: "
     col1 col2
  "
}

.wrapper3 {
  /*border: red solid;*/
  display: grid;
    color: white;
  grid-template-columns: 5% 25% 5% 25% ;
  grid-gap: 2px;
  grid-auto-rows: 10%;
  grid-template-areas: 
  grid-template: "
     col1 col3 col2 col4
  "
}

.wrapper4 {
  /*border: red solid;*/
  display: grid;
  grid-template-columns: 100% 50%;
  grid-gap: 10px;
  grid-template-areas: 
  grid-template: "
     col5 col6 
  "

}

.pseudo_lbl {
  grid-area:col1;
}
.pseudo_val {
  grid-area:col2;
}

.pseudo_radio1 {
  grid-area:col3;
}
.pseudo_radio2 {
  grid-area:col4;
}

.pseudo_button1 {
  grid-area:col5;
 
}
.pseudo_button2 {
  grid-area:col6;
}
.colButton1{
   background-color: #5cbb98;
    border-radius: 25px;
    color: white;
}
.colButton2{
   background-color: rgb(197, 144, 169); 
    border-radius: 25px;
    color: white;
}

nav {
  text-align: left;
  color: white;
  min-width: 10%;
  grid-area: menu;
}

nav ul {
  text-align: left;
}

section {
  align-contentmargin-left: 10%; /* marge à gauche pour laisser la place au menu */
  padding: 1em; /* marge intérieure */
  background-color: white; /* les articles sur fond blanc */
  display: flex;
  flex-direction: column;
  grid-area: main;
}

article {
  flex: 1;
  margin-bottom: 1em;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  border-radius: 20px;
  overflow: auto;
  border: 2px solid blue; /* bordure bleue */
  box-shadow: 5px 5px grey;
}

input[type="text"] {
  background-color: rgb(220, 220, 220);
  text-align: center;
}

fieldset {
  background-color: #5cbb98;
  width: 60%;
  height: 120px;
  padding: 1x 20px;
  border: none;
  border-radius: 50px;
  text-align: center;
}

.fieldsetLegend {
  background-color: rgb(15, 153, 130);
  color:white;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 20%;
  text-align: left;
}



section img,
section video {
  max-width: 25%;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}
